.navigation{
    align-items: center;
   flex-direction: column; 
   justify-content: center;
   box-sizing: border-box;
   /* width: max-content; */
}
ul li{
  width: 100%;
 justify-content: center;
 flex-direction: row;
 position: relative;
 top:35px;
 padding: 10px;
}
.navigation h3{
  position: absolute;
  top: 0px;
}
.header{
 align-items: center;
   position: relative;
   top: 17px;
 flex-direction: column;
}
.footer{
box-sizing: border-box;
}